.form_wrapper {
  width: 100%;
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.left,
.right {
  width: 400px;
}

.form_label {
  margin-bottom: 0.25rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #aaa;
}

.form_input {
  width: 100%;
  margin-bottom: 1rem;
}

.form_input > input,
.form_input > textarea {
  width: 100%;
}
