@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* light theme */

  --nav-height: 12vh;
  --primary-color: #4681f4;
  --primary-color-rgb: 70, 129, 244;

  .light {
    --bg: white;
    --textColor: black;
    --softBg: #f0f0f0;
    --softTextColor: #626262;
    /* OR */
    /* --primary-color: #4681f4; */
    /* --primary-color-rgb: 70, 129, 244; */
    --secondary-color: #7c859c;
    --font-color: #424242;
    --bg-color: #f5f5f5;
  }

  .dark {
    /* this class should only be used for setting variables
      for setting css properties use .app-wrapper class instead
    */
    --bg: #0f172a;
    --textColor: #ddd;
    /* --softBg: #1f273a; */
    --softBg: #19192b;
    --softTextColor: #a6a6a6;
    /* OR */
    /* --primary-color: #9a97f3; */
    /* --primary-color-rgb: 154, 151, 243; */
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-color: #9a97f3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
  }
}

* {
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
}

.app-wrapper {
  background-color: var(--bg-color);
  color: var(--font-color);
  height: auto;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}

.page-section {
  height: auto;
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

button,
.btn {
  outline: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--softBg);
}

.btn-outline {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  padding: 0.5rem;
  border-radius: 4px;
  background-color: var(--softBg);
}
