nav,
.nav {
  position: sticky;
  top: 0;
  /* width: 100%; */
  margin: 0 auto 0rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
  padding: 0 var(--nav-height);
  z-index: 1;
  background-color: var(--softBg);
  /* box-shadow: 0 0px 2px var(--softTextColor); */
}

.logo {
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  /* background-color: #aaa; */
  box-shadow: 0 0 1px var(--font-color);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-checkbox-label {
  width: auto;
  padding: 0.5rem;
}

.filter-checkbox-label:hover,
.filter-checkbox-label:focus,
.checkbox:checked + .filter-checkbox-label {
  background-color: var(--softTextColor);
  color: var(--softBg);
  outline: 1px solid var(--softTextColor);
  font-weight: bold;
}

.fa-moon {
  /* color: #f1c40f; */
  color: #f39c12;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: var(--font-color);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.btn_signUp_nav,
.btn_signIn_nav,
.btn_logout_nav {
  padding: 0.25rem 0.5rem;
  margin-right: 1rem;
  color: #f0f0f0;
  border-radius: 20px;
}

.btn_signUp_nav {
  color: var(--softBg);
  background-color: var(--primary-color);
}
.btn_signIn_nav {
  color: var(--primary-color);
  background-color: rgba(var(--primary-color-rgb), 0.1);
}
.btn_signIn_nav:hover {
  background-color: rgba(var(--primary-color-rgb), 0.2);
}
.btn_logout_nav {
  color: rgb(253, 106, 106);
  background-color: rgb(253, 106, 106, 0.1);
}
.btn_logout_nav:hover {
  background-color: rgb(253, 106, 106, 0.2);
}
