.notes_wrapper {
  width: 80%;
  margin: 2rem auto;
  min-height: 100vh;
  position: relative;
}

.notes_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 2rem 0;
}

.heading {
  font-size: 3rem;
}

.notes_container {
  display: flex;
  justify-content: space-between;
  gap: 2rem 1rem;
  flex-wrap: wrap;
}

.note {
  border: 2px solid #ccc;
  width: 220px;
  border-radius: 8px;
}

.text {
  font-size: 2rem;
}

.desc {
  color: gray;
}

.notes_form {
  text-align: center;
  margin: 2rem;
}

.note_content {
  padding: 1rem;
}

.note_cta {
  border-top: 1px solid #ccc;
  padding: 0 1rem;
}

.note_cta button {
  padding-left: 0;
  padding-right: 0;
}

.note_cta button:not(:last-child) {
  margin-right: 1rem;
}

.badge {
  display: inline-block;
  padding: 0.1rem 0.5rem;
  border-radius: 15px;
  margin: 0.5rem 0;
}

.badge_new {
  background-color: rgb(70, 130, 180, 0.1);
  color: rgba(70, 130, 180);
}
.badge_progress {
  background-color: rgb(240, 175, 79, 0.1);
  color: rgb(240, 175, 79);
}
.badge_completed {
  background-color: rgb(46, 139, 87, 0.1);
  color: rgb(46, 139, 87);
}
