.notes_wrapper {
  width: 80%;
  margin: 2rem auto;
  min-height: 100vh;
  position: relative;
}

.heading {
  font-size: 3rem;
  margin: 2rem 0;
}

.notes_container {
  display: flex;
  justify-content: space-between;
  gap: 2rem 1rem;
  flex-wrap: wrap;
}

.note {
  padding: 1rem;
  border: 2px solid #ccc;
  width: 250px;
  border-radius: 8px;
}

.text {
  font-size: 2rem;
}

.notes_form {
  text-align: center;
  margin: 2rem;
}
